
.block-world {
    width: 99%;
    height: 950px;
}

/* Background Styling */

.block-world-side-elements {
    position: absolute;
    width: 30%;
    height: 100%;
}

.world-side-element-vertical-box-skewed {
    position: absolute;
    width: 24%;
    left:0;
    top: -12%;
    height: 116.7%;
    background: #eb5876;
    transform: skew(30deg) rotate(30deg);
    z-index: -1;
}

.world-side-element-line {
    position: absolute;
    left: 25%;
    height: 120%;
    top: -8%;
    width: 3px;
    background-color: white;
}

.world-side-element-box-1 {
    position: absolute;
    width: 13%;
	height: 60px;
    left: 6%;
    top: 20%;
	transform: skew(30deg) rotate(30deg);
	background: white;
}

.world-side-element-box-2 {
    position: absolute;
    width: 13%;
	height: 60px;
    left: 6%;
    top: 40%;
	transform: skew(30deg) rotate(30deg);
	background: white;
}

.block-world-main-elements {
    position: absolute;
    width: 93%;
    right: 0;
    height: 100%;
}

.world-main-element-background {
    position: absolute;
    height: 100%;
    width: 100%;
    
    background:#eb5876;
    z-index: -1;
}

.world-main-element-square-dark-1 {
    position: absolute;
    left: 05%;
    top: 8%;
    height: 12px;
    width: 12px;
    border: 6px solid #121426;
}

.world-main-element-square-dark-2 {
    position: absolute;
    right: 8.5%;
    top: 12.5%;
    height: 8px;
    width: 8px;
    border: 4px solid #121426;
    z-index: 2;
}

.world-main-element-square-dark-3 {
    position: absolute;
    left: 15%;
    top: 14%;
    height: 8px;
    width: 8px;
    border: 4px solid #121426;
    z-index: 2;
}

.world-main-element-square-dark-4 {
    position: absolute;
    right: 9.5%;
    top: 42.5%;
    height: 6px;
    width: 6px;
    border: 3px solid #121426;
    z-index: 2;
}

.world-main-element-square-dark-5 {
    position: absolute;
    right: 11%;
    top: 58%;
    height: 10px;
    width: 10px;
    border: 5px solid #121426;
    z-index: 2;
}

.world-main-element-square-light-1 {
    position: absolute;
    left: 7%;
    top: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
    z-index: 2;
}

.world-main-element-square-light-2 {
    position: absolute;
    left: 7%;
    top: 52.5%;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
    z-index: 2;
}

.world-main-element-square-light-3 {
    position: absolute;
    left: 8.5%;
    top: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
    z-index: 2;
}

.world-main-element-square-light-4 {
    position: absolute;
    right: 26%;
    top: 30%;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
    z-index: 2;
}

.world-main-element-square-light-5 {
    position: absolute;
    right: 26%;
    top: 27%;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
    z-index: 2;
}

/* Text Styling */

.block-world-background-text {
    font-family: "AkzidenzBold";
    font-size: 130px;
    padding-bottom: 10px;
    margin-left: 10%;

    color: #eb5876;
    text-shadow: #FFFFFF 0px 0px 3px,   #FFFFFF 0px 0px 3px;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: 43rem;
    left: -5%;
}

.rotate-text {
    position: relative;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.block-world-title {
    font-family: "AkzidenzBold";
    font-size: 120px;
    display:flex;
    justify-content: center;
    text-align: center;

    padding-top: 2rem;
}

.markers {
    position: relative;
    width: 100%;
    height: 80%;
}

.block-world-text-events {
    position: absolute;
    left: 20%;
    top: 4%;

    font-family: "AkzidenzBoldCondensed";
    font-size: 80px;
    line-height: 85px;

    width: 100px;
}

.block-world-text-challenges {
    position: absolute;
    right: 27%;
    top: 17%;

    font-family: "AkzidenzBoldCondensed";
    font-size: 80px;
    line-height: 85px;

    width: 100px;
}

.block-world-text-prizes {
    position: absolute;
    left: 15%;
    top: 60%;

    font-family: "AkzidenzBoldCondensed";
    font-size: 80px;
    line-height: 85px;

    width: 100px;
}

.world-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.map {
    position: absolute;
    top: 7%;
    right: 27%;
}

.logo {
    position: absolute;
    top: 39%;
    left: 42%;
}