/* Block Styling*/

.block-1{
    width: 99%;
    height: 1000px;
    margin-bottom: 1rem;
}

/* Background Styling */

.block-1-background-text {
    font-family: "AkzidenzBold";
    font-size: 180px;
    padding-bottom: 10px;
    margin-left: 10%;

    color: #121426;
    text-shadow: #eb5876 0px 0px 3px,   #eb5876 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}

.block-1-side-elements {
    position: absolute;
    width: 30%;
    height: 100%;
}

.side-element-line {
    position: absolute;
    left: 25%;
    height: 120%;
    top: -8%;
    width: 3px;
    background-color: white;
}

.side-element-box-1 {
    position: absolute;
    width: 13%;
	height: 60px;
    left: 6%;
    top: 10%;
	transform: skew(30deg) rotate(30deg);
	background: white;
}

.side-element-box-2 {
    position: absolute;
    width: 13%;
	height: 60px;
    left: 6%;
    top: 25%;
	transform: skew(30deg) rotate(30deg);
	background: white;
}

.side-element-arrow-1 {
    position: absolute;
    left:30%;
    top: 35%;
    width: 15px;
    height: 14px;
    background-image: 
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5Ljc4NCIgaGVpZ2h0PSI5LjIwMiIgdmlld0JveD0iMCAwIDkuNzg0IDkuMjAyIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZmO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTS0uMTM4LDBINi44MDlMOS42NDYsNC44LDYuODA5LDkuMkgtLjEzOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMTM4KSIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: cover;
}

.side-element-arrow-2 {
    position: absolute;
    left:30%;
    top: 75%;
    width: 15px;
    height: 14px;
    background-image: 
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5Ljc4NCIgaGVpZ2h0PSI5LjIwMiIgdmlld0JveD0iMCAwIDkuNzg0IDkuMjAyIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZmO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTS0uMTM4LDBINi44MDlMOS42NDYsNC44LDYuODA5LDkuMkgtLjEzOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMTM4KSIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: cover;
}

.block-1-main-elements {
    position: absolute;
    width: 99%;
    height: 100%;
}

.main-element-square-1 {
    position: absolute;
    right: 30%;
    top: 30%;
    height: 10px;
    width: 10px;
    border: 5px solid #eb5876;
    
}

.main-element-square-2 {
    position: absolute;
    right: 8%;
    top: 40%;
    height: 10px;
    width: 10px;
    border: 5px solid #eb5876;
    
}
.main-element-square-3 {
    position: absolute;
    right: 8%;
    top: 43%;
    height: 10px;
    width: 10px;
    border: 5px solid #eb5876;
    
}

.main-element-square-4 {
    position: absolute;
    right: 6.3%;
    top: 43%;
    height: 10px;
    width: 10px;
    border: 5px solid #eb5876;
    
}

/* Title & Text Styling */

.block-1-title {
    font-family: "AkzidenzBold";
    font-size: 140px;
    margin: -10px;
    margin-left: 18%;
}

.block-1-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 38%;
    margin-left: 18%;
    
}

/* Button Styling */

.block-1-CTA {
    position: relative;
    width: 45%;
    height: 55px;
    left: 19%;
    margin-top: 3rem;
}

.block-1-button {
    font-family: "AkzidenzBold";
    color: white;
    background-color: #121426;
    
    text-align: center;
    text-transform: uppercase;
    height: 55px;
    width: 40%;
    
    border:none;
    position: relative;
    
    left: 0%;
    font-size: 24px;
    border: 3px solid #eb5876;

    -ms-transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
}

.block-1-button-text {
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);  
    display: inline-block;
}

/* Image Styling */


.small-illustration {
    position: relative;
}

.ill-2 {
    position: absolute;
    right: 13rem;
    bottom: -250px;
}